:root {
    font-family: system-ui, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    background-color: #f0f0f0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f0f0f0;
    padding: 8px 16px;
    border: 2px solid #333;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d5d5d5;
}

.container {
    margin: 0 auto;
    text-align: center;
}

#game-title {
    font-size: 2.2rem;
    font-weight: 200;
    background-color: #f0f0f0;
}

.mark {
    font-family: "Gaegu", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#game-title .mark {
    font-size: 4rem;
}

#game-mode-button-holder {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#game-mode-button-holder a {
    width: 240px;
}

#game-mode-button-holder .mark {
    font-size: 1.5rem;
    margin: 0 10px;
}


.mode-button {
    font-size: 1.5rem;
    width: 100%;
    padding: 10px 0;
}

#status-display {
    margin: 30px 30px 40px 30px;
    font-size: 1.5rem;
    color: #515151;
    background: #e0e0e0;
    padding: 10px 30px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
}

#status-display> :nth-child(1) {
    justify-self: start;
    display: inline-block;
    text-align: center;
}

#status-display> :nth-child(2) {
    justify-self: center;
    display: inline-block;
    text-align: center;
}

#status-display> :nth-child(3) {
    justify-self: end;
    display: inline-block;
    text-align: center;
}

#board {
    justify-content: center;
    background-color: #dbdbdb;
    margin: auto;
}

.controls-holder {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 40px;
}

.controls-holder a,
.controls-holder button {
    width: 60px;
}

.control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    width: 60px;
}

.cell {
    border: none;
    border-radius: 0;
    color: #515151;
    font-family: "Gaegu", sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #f0f0f0;
}

.cell:disabled {
    cursor: default;
    background-color: #f0f0f0;
}

.cell.winning {
    color: #5da55d;
}