:root {
    font-family: system-ui, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
    background-color: #f0f0f0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f0f0f0;
    padding: 8px 16px;
    border: 2px solid #333;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #d5d5d5;
}

.container {
    margin: 0 auto;
    text-align: center;
}

#game-title {
    font-size: 2.2rem;
    font-weight: 200;
    background-color: #f0f0f0;
}

#status-display {
    margin: 30px 30px 40px 30px;
    font-size: 1.5rem;
    color: #515151;
    background: #e0e0e0;
    padding: 10px 30px;
    padding-bottom: 15px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
}

#status-display> :nth-child(1) {
    justify-self: start;
}

#status-display> :nth-child(2) {
    justify-self: center;
}

#status-display> :nth-child(3) {
    justify-self: end;
}

#board {
    justify-content: center;
    background-color: #dbdbdb;
    margin: auto;
}

#restart-button {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 40px;
}

.cell {
    border: none;
    border-radius: 0;
    color: #515151;
    font-family: "Gaegu", sans-serif;
    font-size: 7.5rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: #f0f0f0;
}

.cell:disabled {
    cursor: default;
    background-color: #f0f0f0;
}

.cell.winning {
    color: #5da55d;
}

.mark {
    font-family: "Gaegu", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#game-title .mark {
    font-size: 4rem;
}